/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

@media screen and (max-width: 1599px) and (min-width: 1280px) {
    #sidebar {
        width: 322px;
    }
}

#sidebar {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

#sidebar .queries {
    display: flex;
    flex-wrap: wrap;
}

#sidebar .queries>li {
    width: 150px;
}

#action-box .icon-checked.disabled {
    background-image:none;
    background-color: #2996cc;
    color: #fff;
}

#action-box>ul>li>a {
    color: #333 !important;
}


#action-box>ul>li{
    background-color: white;
    margin: 5px 0px !important;
    padding: 5px !important;
    border-radius: 5px;
}

#action-box>ul>li>ul>li {
    display: inline-block;
    padding-right: 5px;
}
